@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================
   Global Variables
====================== */
:root {
  --primary-text-rgb: 0, 0, 0;
  --secondary-text-rgb: 255, 255, 255;
  --tertiary-text-rgba: 255, 255, 255, 0.5;
  --background-rgb: 255, 255, 255;
  --background-rgb-red: 224, 49, 51;
}

/* ======================
   Background Styles
====================== */

body {
  background: rgb(var(--background-rgb));
}

.bg-red {
  background-color: rgb(var(--background-rgb-red));
}

/* ======================
   Font Styles
====================== */
body {
  font-family: var(--font-acta);
  color: rgb(var(--primary-text-rgb));
}

h1,
thead {
  font-family: var(--font-bebas-neue);
}

tbody td:first-child {
  font-family: var(--font-acta-bold);
}

.text-red {
  color: rgb(var(--background-rgb-red));
}

.acta {
  font-family: var(--font-acta);
}

.bebas-neue {
  font-family: var(--font-bebas-neue), sans-serif;
}

.bonnie-condensed-bold {
  font-family: var(--font-bonnie-condensed-bold);
}

/* ======================
   Header Styles
====================== */
header p {
  font-size: 15px;
}

header nav a span,
header a span {
  font-family: var(--font-bonnie-condensed-bold);
  color: rgb(var(--primary-text-rgb));
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 18px;
}

#donate-menu a,
#donate-menu a span {
  font-family: var(--font-bonnie-condensed-bold);
  color: rgb(var(--secondary-text-rgb));
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 18px;
}

.subitem-submenu-icon {
  padding-right: 22px;
  background: no-repeat
    url('https://afsc.org/themes/afsc/_include/img/ui/header-plus.svg') right
    center transparent;
  background-size: 13px auto;
}

.subitem-submenu-icon.active {
  padding-right: 22px;
  background: no-repeat
    url('https://afsc.org/themes/afsc/_include/img/ui/header-minus.svg') right
    center transparent;
  background-size: 13px auto;
}

/* ======================
   Story Styles
====================== */
#story-text p {
  margin-bottom: 20px;
}

/* ======================
   Footer Styles
====================== */
footer nav a span,
footer a span {
  font-family: var(--font-bonnie-condensed-bold);
  color: rgb(var(--secondary-text-rgb));
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 20px;
}

#copyright-menu a span {
  font-family: var(--font-bonnie-condensed-bold);
  color: rgb(var(--tertiary-text-rgba));
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
}
